//& -------------------- SCSS VARIABLES -------------------- //

//^ --------- COLORS --------- //
$maincolor : #2D92A8;
$maindark: #1E6473;

$white : #E5E5E5;
$whiter : #ffffff;

$gray : #4E4646;
$darkgray: #555555;

$accent: #43121D;

//* --------- FONT --------- //

$mainfont: 'Roboto';
$titlefont: 'Quicksand';

//? -------------------- RESETS -------------------- //

* {
    margin: 0;
    padding: 0;
}

.limit-size {
    max-width: 1900px;
    width: 100%;
    margin: 0 auto;
}

body {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

p,
a {
    color: $gray;
    font-family: 'Roboto';
    text-decoration: none;
}

ul {
    list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: $maindark;
    font-family: 'Quicksand';
}

//? -------------------- STYLING -------------------- //

footer {
    background-color: $maincolor;
}

.accent {
    color: $accent;
}

header {
    #nav-menu {
        display: flex;
        flex-direction: column;
    }

    nav {
        ul {
            display: flex;
            align-items: center;
        }

        li {
            a {
                display: block;
                height: 50px;
                line-height: 50px;
                color: $maincolor;
                font-size: 1rem;
                font-family: $mainfont;
                padding: 0 10px;
                text-transform: uppercase;
                transition: all .8s ease;
                font-weight: 600;
            }

            &:hover a {
                color: $white;
                background-color: $maincolor;
            }
        }
    }
}

section {
    padding-bottom: 5rem;
}