{% extends "template.html.twig" %}

{% block headerblock %}{% include 'header.html.twig' with {'categories': cats } %}{% endblock %}

{% block title %}{{ session.username }}'s Account{% endblock %}

{% block content %}

    Bienvenue {{ session.username }}

    <a href="{{ path('recipeAdd') }}">Add a recipe</a>

{% endblock %}
