<header>
<!-- That's where my LOGO would be, if I had one-->
    <div id="nav-menu">
        <ul>
            <li><a href="#">Home</a></li>
            <li><a href="#">About Us</a></li>
            <li><a href="#">Blog</a></li>
            <li><a href="#">Reviews</a></li>
            <li><a href="#">Subscribe</a></li>
        </ul>
        <button>Sign In</button>
    </div>
    <div id="nav-list">
        <ul>
            <li><a href="#">All Recipes</a></li>
            <li><a href="#">Appetizers</a></li>
            <li><a href="#">Beverages</a></li>
            <li><a href="#">Breakfasts</a></li>
            <li><a href="#">Cakes</a></li>
            <li><a href="#">Cocktail</a></li>
            <li><a href="#">Snacks</a></li>
            <li><a href="#">Dinners</a></li>
            <li><a href="#">Deserts</a></li>
        </ul>
    </div>
</header>