{% extends "template.html.twig" %}

{% block headerblock %}{% include 'header.html.twig' with {'categories' : cats } %}{% endblock %}

{% block title %}{{ recipe.title }}{% endblock %}

{% block content %}
<br>
<br>
<br>
<br>
<br>
<br>
    <h1>{{ recipe.title }}</h1>
    <br>
<br>
<br>
<br>
<br>
<br>
    <p>{{ recipe.content }}</p>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
{% endblock %}